# Build results
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.swp

# VS Code and Visual Studio specific files
.vscode/
.vs/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.cache
*.pid
*.tar.gz

# Package management
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Azure specific
*.publishsettings
.env
.env.*

# Resharper
_ReSharper*/
*.DotSettings.user

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Libman
libman.json

# NPM Files
node_modules/

# Runtime binary
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo

# Coverage Results
coverage/
*.coverage
*.coveragexml
*.sonarqube

# Database
*.mdf
*.ldf

# IDEs
.idea/

# Environment
.env
.env.local
.env.*.local